th,
td {
  padding: 10px;
}

// tr {
//   display: flex;
//   flex-flow: row nowrap;
// }

.thForme {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
