td {
  padding: 10px 0;
  background-color: #f9f9f9;
  border: none;
}

tbody {
  background-color: #f9f9f9;
}

// tr {
//   display: flex;
//   flex-flow: row nowrap;
// }

.thForme {
  min-width: 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
