.paginationContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border-top: 1px solid black;
  &__element {
    width: 100%;
    @include rowCenterBetween;
    &--value {
      @include center;
    }
    &__btn {
      &--prev {
        @include center;
        padding: 8px 16px;
        margin: 1px;
      }
      &--next {
        @include center;
        padding: 8px 16px;
        margin: 1px;
      }
      &--list {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0px 15px;
        &--item {
          @include center;
          padding: 8px 16px;
          margin: 1px;
        }
        &--item:hover {
          border: 0.5px solid rgb(31, 31, 31);
          background: linear-gradient(to bottom, #686868, #282828);
          color: white;
        }
      }
      @include rowCenterBetween;
    }
  }
  &--home {
    @include center;
  }
}

.active {
  border: 0.5px solid black;
  background: linear-gradient(to bottom, #fdfdfd, #dadada);
}

.activeBtn:hover {
  border: 0.5px solid rgb(31, 31, 31);
  background: linear-gradient(to bottom, #686868, #282828);
  color: white;
}
